// sass --watch styles/index.scss styles.css

@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $text-color-primary;
  display: flex;
  background-color: $color-black-background;
  height: 100vh;
}

.price-card-main {
  display: flex;
  margin: auto;
}

.price-card {
  width: 380px;
  height: 770px;
  margin-right: 18px;
  background-color: $color-grey-light-background;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}

.price-card__top {
  text-align: center;
  height: 130px;
  position: relative;
  overflow: hidden;

  .price-card__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
    margin-top: 33px;
    margin-bottom: 0;
  }
  .price-card__title-text {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 33px;
  }
}

.price-card__popular {
  position: absolute;
  font-size: $font-size-S;
  width: 147px;
  height: 25px;
  background-color: $color-popular;
  line-height: 25px;
  transform: rotate(45deg);
  top: 30px;
  right: -30px;
}

.price-card__price {
  height: 105px;
  text-align: center;
  font-size: $font-size-XXl;
  font-weight: 700;
  line-height: 67px;
  padding: 19px 0;
}

.price-card__description {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin: 40px 26px;
}

.price-card__text:nth-child(odd) {
  background-color: $color-grey-dark-background;
  color: $text-color-primary;
}
.price-card__text {
  height: 50px;
  line-height: 50px;
  font-size: $font-size-S;
  margin: 0;
}

.price-card__img {
  width: 15px;
  height: 13px;
  margin: 0 22px;
}

.price-card__price-first,
.price-card__button-first {
  background-color: $color-green;
}
.price-card__price-second,
.price-card__button-second {
  background-color: $color-blue;
}
.price-card__price-third,
.price-card__button-third {
  background-color: $color-orange;
}

.price-card__botton {
  display: flex;
  height: 119px;
}
.price-card__button {
  width: 154px;
  height: 40px;
  line-height: 17px;
  color: $text-color-primary;
  font-size: $font-size-S;
  text-align: center;
  border: none;
  border-radius: $border-radius-button;
  margin: auto;
}
