$font-size-XXl: 55px;
$font-size-Xl: 35px;
$font-size-L: 25px;
$font-size-L-M: 20px;
$font-size-M: 15px;
$font-size-S: 14px;

$border-radius-button: 20px;

$color-black-background: #141b1c;
$color-grey-light-background: #334247;
$color-grey-dark-background: #2a3438;

$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-popular: #dc3f45;

$text-color-primary: #ffffff;
